#formWrapper,
#filter {
    padding-top: 25px;
    width: 21%;
}

.mb-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px!important;
}

.input-group>.form-control {
    width: 100%;
}

.form__table {
    display: flex;
}

th {
    cursor: pointer;
}

.surname,
.birthdate,
.education,
.faculty {
    width: 25%;
    text-align: center;
}

td {
    text-align: center;
}

#errorsWrapper {
    margin-bottom: 15px;
    color: red;
}

#filter {
    margin-left: 200px;
}

#filter>input {
    width: 100%;
}

#filter>input {
    margin-bottom: 15px;
}

.title {
    font-size: 22px;
}
